{% extends '::base.html.twig' %}

{% block header_title %}
    <h2>
        {{ 'example.header.title.api'|trans|capitalize }}
    </h2>
{% endblock %}

{% block main %}
<h3>{{ 'api.install'|trans }}</h3>
{{ 'api.composer'|trans }}
<pre>composer require nelmio/api-doc-bundle</pre>
{{ 'api.kernel'|trans }}
<pre>
// app/AppKernel.php
public function registerBundles()
{
    return array(
        // ...
        new Nelmio\ApiDocBundle\NelmioApiDocBundle(),
    );
}
</pre>
{{ 'api.routing'|trans }}
<pre>
# app/config/routing.yml
NelmioApiDocBundle:
  resource: "@NelmioApiDocBundle/Resources/config/routing.yml"
  prefix:   /api/doc
  options:
    i18n: false
</pre>
{{ 'api.config'|trans }}
<pre>
# app/config/config.yml
nelmio_api_doc: ~
</pre>
<h3>{{ 'api.use'|trans }}</h3>
<pre>
namespace Your\Namespace;

use Nelmio\ApiDocBundle\Annotation\ApiDoc;

class YourController extends Controller
{
    /**
     * This is the documentation description of your method, it will appear
     * on a specific pane. It will read all the text until the first
     * annotation.
     *
     * @ApiDoc(
     *  resource=true,
     *  description="This is a description of your API method",
     *  filters={
     *      {"name"="limit", "dataType"="integer"},
     *      {"name"="orderBy", "dataType"="string", "pattern"="(created|modified|id) ASC|DESC"}
     *  }
     * )
     */
    public function getAction()
    {
    }

    /**
     * @ApiDoc(
     *  description="Create a new Object",
     *  input="Your\Namespace\Form\Type\YourType",
     *  output="Your\Namespace\Class"
     * )
     */
    public function postAction()
    {
    }

    /**
     * @ApiDoc(
     *  description="Returns a collection of Object",
     *  requirements={
     *      {
     *          "name"="limit",
     *          "dataType"="integer",
     *          "requirement"="\d+",
     *          "description"="how many objects to return"
     *      }
     *  },
     *  parameters={
     *      {"name"="categoryId", "dataType"="integer", "required"=true, "description"="category id"}
     *  }
     * )
     */
    public function getInCategoryAction($id)
    {
    }
}
</pre>
<a href="https://github.com/nelmio/NelmioApiDocBundle/blob/master/Resources/doc/index.md">https://github.com/nelmio/NelmioApiDocBundle/blob/master/Resources/doc/index.md</a>
{% endblock %}
