{% extends '::base.html.twig' %}

{% block header_title %}
  <h2>
    {{ 'example.header.title.datepicker'|trans|capitalize }}
  </h2>
{% endblock %}

{% block main %}
  {{ form_start(form) }}
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'format' => DateType::DEFAULT_FORMAT,
  'data' => $currentDate,
  'widget' => 'choice',
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.date_example1) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'data' => $currentDate,
  'widget' => 'text',
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.date_example2) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
          <pre><code>
  'data' => $dateInThePast,
  'widget' => 'single_text',
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.date_example3) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'data' => $dateInThePast,
  'widget' => 'single_text',
  'datepicker' => true,
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.date_example4) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'data' => $currentDate,
  'widget' => 'single_text',
  'datepicker' => true,
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.date_example5) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
          <pre><code>
  'data' => $currentDate,
  'widget' => 'single_text',
  'datepicker' => true,
  'minimum_date' => new \DateTime('last monday'),
  'required' => false,
          </code></pre>
    </div>
  </div>
  {{ form_row(form.date_example6) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
          <pre><code>
  'data' => $currentDate,
  'widget' => 'single_text',
  'datepicker' => true,
  'maximum_date' => new \DateTime('next friday'),
  'required' => false,
          </code></pre>
    </div>
  </div>
  {{ form_row(form.date_example7) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'data' => $currentDate,
  'widget' => 'single_text',
  'datepicker' => true,
  'minimum_date' => new \DateTime('last monday'),
  'maximum_date' => new \DateTime('next friday'),
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.date_example8) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'date_format' => DateTimeType::DEFAULT_DATE_FORMAT,
  'data' => $currentDate,
  'widget' => 'choice',
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.datetime_example1) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'data' => $currentDate,
  'widget' => 'text',
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.datetime_example2) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'data' => $currentDate,
  'widget' => 'single_text',
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.datetime_example3) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'data' => $currentDate,
  'widget' => 'choice',
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.time_example1) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
          <pre><code>
  'data' => $currentDate,
  'widget' => 'text',
  'required' => false,
          </code></pre>
    </div>
  </div>
  {{ form_row(form.time_example2) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
          <pre><code>
  'data' => $currentDate,
  'widget' => 'single_text',
  'required' => false,
          </code></pre>
    </div>
  </div>
  {{ form_row(form.time_example3) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'format' => DateType::DEFAULT_FORMAT,
  'data' => $dateInThePast,
  'widget' => 'choice',
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.birthday_example1) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'data' => $dateInThePast,
  'widget' => 'choice',
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.birthday_example2) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'data' => $dateInThePast,
  'widget' => 'single_text',
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.birthday_example3) }}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
        <pre><code>
  'data' => $dateInThePast,
  'widget' => 'single_text',
  'datepicker' => true,
  'required' => false,
        </code></pre>
    </div>
  </div>
  {{ form_row(form.birthday_example4) }}

  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
